.nav {
    list-style: none;
    display: grid;
    align-items: right;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.main {
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    
}

.list_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    border-style: solid;
    background-color: aquamarine;
}
.list_2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    border-style: solid;
    background-color: blue;
}

